# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# 1. ARCHIVOS DE CONFIGURACIÓN DE IDES

# IntelliJ IDEA 
.idea/
*.iws
*.ipr
*.iml

# NetBeans
/nbproject/

# Visual Studio Code 
.vscode/

# 2. DIRECTORIOS DE COMPILACIÓN DE JAVA/BUILD TOOLS

# Salida de compilación 
/out/
/build/

# Build Tools: Gradle 
.gradle/

# Build Tools: Directorio de salida de Maven 
/target/

# Archivos del Sistema Operativo
.DS_Store # macOS
Thumbs.db # Windows
